@()

<div id="navi">
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen">Profil</div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="anmeldungen.do?command=anmeldungen&referer=X" title="Veranstaltungen, die ich angemeldet habe" class="navlink">Anmeldungen</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="viewExaminationData.do" title="Pr&uuml;fungsleistungen, die ich bis jetzt abgelegt habe" class="navlink">Ergebnisse</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="chooseSL.do" title="Hier kann ich mich f&uuml;r diverse Dinge anmelden" class="navlink">anmelden</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="navAbmelden.do" title="ACHTUNG!! Hier kann ich mich abmelden" class="navlink">abmelden</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="maillist.do" title="Eigene Mailinglisten" class="navlink">Mailinglisten</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    <div class="navitem">
        <div class="navbgleft">&nbsp;</div>
        <div class="navbgcen"><a href="druckHistory.do" title="Hier kann ich mein Druckkonto und mein Druckjobs einsehen." class="navlink">Druckquoten</a></div>
        <div class="navbgright">&nbsp;</div>
    </div>
    
	<div id="navihr"></div>
</div>
