@import snippets._

@(registeredCourses: List[net.unikit.database.external.interfaces.Course], currentUser: net.unikit.database.external.interfaces.Student, sessionTimeout: java.util.Date)

@getSemesterValue(course: net.unikit.database.external.interfaces.Course) = @{
    var fieldOfStudy = ""
    var semester = ""
    var result = ""

    if (!course.getFieldOfStudies().isEmpty()) {
        fieldOfStudy = course.getFieldOfStudies().head.getAbbreviation()
    }
    if (course.getSemester != null) {
        semester = course.getSemester().toString()
    }

    if (fieldOfStudy.isEmpty() && semester.isEmpty()) {
        result = "-"
    } else {
        result = fieldOfStudy + "" + semester
    }

    result
}

@main("Anmeldungen", assets.NavigationItem.REGISTRATIONS, currentUser, sessionTimeout) {
    @evidence(605) {
        <span class="thick">&Uuml;berblick der Anmeldungen</span>
    }

    @space()

    <!-- TODO: implement filter by semester -->
    @if(true) {
        @listSection("Verbindliche Anmeldungen im aktuellen Semester", 605) {
            <!-- TODO: implement filter by course type 'Verteilung unbenotete GW' -->
            @if(false) {
                @courseSection("Verteilung unbenotete GW", "Prof", "", "", "Status") {
                    @for((course, index) <- (registeredCourses).view.zipWithIndex) {
                        @if(index % 2 == 0) {
                            @courseItemLight("{ZKN}", "", "", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        } else {
                            @courseItemDark("{ZKN}", "", "", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        }
                    }
                }
            }

            <!-- TODO: implement filter by course type 'Prüfungen/Klausuren' -->
            @if(false) {
                @courseSection("Prüfungen/Klausuren", "Prof", "Sem.", "", "Status") {
                    @for((course, index) <- (registeredCourses).view.zipWithIndex) {
                        @if(index % 2 == 0) {
                            @courseItemLight("{ZKN}", getSemesterValue(course), "", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        } else {
                            @courseItemDark("{ZKN}", getSemesterValue(course), "", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        }
                    }
                }
            }

            <!-- TODO: implement filter by course type 'Verteilung Projekte' -->
            @if(false) {
                @courseSection("Verteilung Projekte", "Prof", "", "Gruppe", "Status") {
                    @for((course, index) <- (registeredCourses).view.zipWithIndex) {
                        @if(index % 2 == 0) {
                            @courseItemLight("{ZKN}", "", "{-}", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        } else {
                            @courseItemDark("{ZKN}", "", "{-}", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        }
                    }
                }
            }

            <!-- TODO: implement filter by course type 'Praktika' -->
            @if(!(registeredCourses).isEmpty) {
                @courseSection("Praktika", "Prof", "Sem.", "Gruppe", "Status") {
                    @for((course, index) <- (registeredCourses).view.zipWithIndex) {
                        @if(index % 2 == 0) {
                            @courseItemLight("{ZKN}", getSemesterValue(course), "{-}", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        } else {
                            @courseItemDark("{ZKN}", getSemesterValue(course), "{-}", "{OK}") {
                                <a href="@controllers.courseComponent.routes.CourseController.showCourseDetails(course.getId())" title="@(course.getName())">@(course.getName())</a>
                            }
                        }
                    }
                }
            }
        }
    }

    @space()

    <!-- TODO: implement filter by semester -->
    @if(false) {
        @listSection("Verbindliche Anmeldungen im kommenden Semester", 605) {
            <!-- TODO: Copy source code from above, but with semester filter -->
        }
    }

    @space()
    <hr>

    <table width="300">
        <tr class="tableheadline">
            <td width="20%">Status</td>
            <td width="80%">Beschreibung</td>
        </tr>

        <tr>
            <td>OK</td>
            <td>Anmeldung geprüft und erlaubt</td>
        </tr>

        <tr>
            <td>not OK</td>
            <td>Voraussetzungen noch nicht erfüllt</td>
        </tr>
    </table>
}
