@import helper._

@(currentTeam: net.unikit.database.unikit_.interfaces.Team, currentInvitations: List[net.unikit.database.unikit_.interfaces.Team], currentMembershipRequests: List[net.unikit.database.unikit_.interfaces.Team], course: net.unikit.database.external.interfaces.Course, currentUser: net.unikit.database.external.interfaces.Student, sessionTimeout: java.util.Date)

@main(course.getName(), assets.NavigationItem.REGISTRATIONS, currentUser, sessionTimeout) {
<table width="605" >
 <tr>
	<td><span class="thick">@(course.getName())</span></td>
 </tr>
</table>

<tr><td>&nbsp;</td></tr>







<table width="605" cellspacing="0" cellpadding="0" >

	<tr>
		<td valign="top"/>
            <!-- TABLE_HEADER_START -->
		    <table width="605"  cellspacing="0" cellpadding="0" class="tableframe">
	 		 <tr>
				<td>&nbsp;&nbsp;Ihr aktueller Status
					<td align="right"><a href="javascript:openWin('getHelp.do?keyword=prtQut','200','300','help');">Hilfe</a>&nbsp; </td>
				</td>
			 </tr>
		    </table>
            <!-- TABLE_HEADER_END -->
            
            
            
            <!-- TABLE_CONTENT_START -->
		    <table width="605" cellspacing="0" cellpadding="0" class="tablecontent">
			    @if(currentTeam == null) {
			      <!-- TEXT_START -->
                  <tr>
			  	    <td align="left"><span class="thick">Sie sind keinem Team zugeordnet!</span></td>
				    <td align="right"></td>
				  </tr>
                  <!-- TEXT_END -->
                  
				  <tr><td>&nbsp;</td></tr>
                  
                  <!-- BUTTON_START -->
                  <tr>
				  	<td align="left">
                    <div class="button button_active" >
                        <div class="button_a_left" >&nbsp;</div>
                        
                        <div class="button_a_center">
                            <a href='@controllers.studentComponent.routes.StudentController.createTeam(course.getId())' class="button_link">Team erstellen</a>
                        </div>
                        
                        <div class="button_a_right"/>&nbsp;</div>
                    </div>
                    </td>
					<td align="right"></td>
				  </tr>
                  <!-- BUTTON_END -->
                  
                  
                  
                  
                  <!-- BUTTON_START -->
                  <tr>
				  	<td align="left">
                    <div class="button button_active" >
                        <div class="button_a_left" >&nbsp;</div>
                        
                        <div class="button_a_center">
                            <a href='@controllers.studentComponent.routes.TeamController.showTeamOverview(course.getId())' class="button_link">Beitrittsanfrage versenden</a>
                        </div>
                        
                        <div class="button_a_right"/>&nbsp;</div>
                    </div>
                    </td>
					<td align="right"></td>
				  </tr>
                  <!-- BUTTON_END -->
				} else {
                  <tr>
			  	    <td align="left"><span class="thick">Sie sind dem Team 'T@(String.format("%03d", currentTeam.getId()))' zugeordnet!</span></td>
				    <td align="right"></td>
				  </tr>
                  
				  <tr><td>&nbsp;</td></tr>
                  
                  <!-- BUTTON_START -->
                  <tr>
				  	<td align="left">
                    <div class="button button_active" >
                        <div class="button_a_left" >&nbsp;</div>
                        
                        <div class="button_a_center">
                            <a href='@controllers.studentComponent.routes.TeamController.showEditTeam(currentTeam.getId())' class="button_link">Team bearbeiten</a>
                        </div>
                        
                        <div class="button_a_right"/>&nbsp;</div>
                    </div>
                    </td>
					<td align="right"></td>
				  </tr>
                  <!-- BUTTON_END -->
                  
                  
                  
                  
                  
                  <!-- BUTTON_START -->
                  <tr>
				  	<td align="left">
                    <div class="button button_active" >
                        <div class="button_a_left" >&nbsp;</div>
                        
                        <div class="button_a_center">
                            <a href='@controllers.studentComponent.routes.TeamController.removeMember(currentUser.getStudentNumber(), currentTeam.getId())' class="button_link">Team verlassen</a>
                        </div>
                        
                        <div class="button_a_right"/>&nbsp;</div>
                    </div>
                    </td>
					<td align="right"></td>
				  </tr>
                  <!-- BUTTON_END -->
                }
			</table>
            <!-- TABLE_CONTENT_END -->
	</td>
  </tr>
</table>














<br>































<table width="605">
  <tr>
    <td> 
	   <table width="605" cellspacing="0" cellpadding="0" class="tableframe">
		  <tr>
			<td align="left">&nbsp;&nbsp;Ihre Daten </td>
			<td align="right"><a href="javascript:openWin('getHelp.do?keyword=persDat','200','300','help');">Hilfe</a>&nbsp;</td>
		  </tr>
	   </table>
				
	   <table width="605" cellspacing="0" cellpadding="0" class="tablecontent">
		  <tr class="tablecontentbackdark">
		    <td align="left">Name</td>
		    <td align="right">@(currentUser.getFirstName())&nbsp;@(currentUser.getLastName())</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">Benutzername</td>
		    <td align="right"><!--DUMMY_VALUE-->{abc123}</td>
		  </tr>
		    <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		   <tr class="tablecontentbackdark">
		    <td align="left">Ablaufdatum des Passwortes</td>
		    <td align="right"><!--DUMMY_VALUE-->{01.01.2015}</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">aktive Benutzerrolle</td>
		    <td align="right"><!--DUMMY_VALUE-->{Student}</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geburtsort</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{Hamburg}</td>
			
		    			
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geschlecht</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{M}</td>
			
		    			
		  </tr>
		  

		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geburtstag</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{Montag}, <!--DUMMY_VALUE-->{01.01.2015}</td>
			
		    			
		  </tr>

		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">Martrikelnummer</td>
		    <td align="right">@(currentUser.getStudentNumber())</td>
		  </tr>
		
		   <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  
		  <tr class="tablecontentbackdark">
		    <td align="left">Pr&uuml;fungsordnung</td>
		    <td align="right">@(currentUser.getFieldOfStudy().getAbbreviation()): <!--DUMMY_VALUE-->{PO 2008} (<!--DUMMY_VALUE-->{4015})</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>	
		
		  <tr class="tablecontentbackdark">
		    <td align="left">Studiengang</td>
		    <td align="right">@(currentUser.getFieldOfStudy().getName())</td>
		  </tr>  
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>	
		
		 <!-- tr class="tablecontentbacklight">
		    <td align="left">Heimatverzeichniss</td>
		    <td align="right">/home/students/DUMMY_VALUE{abc123}</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr-->
		  
	  <tr class="tablecontentbacklight">
	    <td align="left">Prim&auml;re HAW EMail-Adresse</td>
	    <td align="right">@(currentUser.getEmail())</td>
	  </tr>


	  
		  <tr class="tablecontentbackdark">
		    <td align="left">HAW-Kennung</td>
		    <td align="right"><!--DUMMY_VALUE-->{abc123}</td>
		  </tr>
      

      <tr class="tablecontentbacklight"> 
       <td align="left">TI-Departmentname</td>
       <td align="right"><!--DUMMY_VALUE-->{Informatik}</td>
      </tr>
	      
	  <tr class="tablecontentbackdark">
	    <td align="left">TI-Departmentnummer</td>
	    <td align="right"><!--DUMMY_VALUE-->{52}</td>
	  </tr>
	  
		  
      

	      
          
		</table>

        
        
        
        
       












       
        
        
        
<br>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

 
 
<table width="605">
  <tr>
    <td> 
	   <table width="605" cellspacing="0" cellpadding="0" class="tableframe">
		  <tr>
			<td align="left">&nbsp;&nbsp;Ihre Daten </td>
			<td align="right"><a href="javascript:openWin('getHelp.do?keyword=persDat','200','300','help');">Hilfe</a>&nbsp;</td>
		  </tr>
	   </table>
				
	   <table width="605" cellspacing="0" cellpadding="0" class="tablecontent">
		  <tr class="tablecontentbackdark">
		    <td align="left">Name</td>
		    <td align="right">@(currentUser.getFirstName())&nbsp;@(currentUser.getLastName())</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">Benutzername</td>
		    <td align="right"><!--DUMMY_VALUE-->{abc123}</td>
		  </tr>
		    <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		   <tr class="tablecontentbackdark">
		    <td align="left">Ablaufdatum des Passwortes</td>
		    <td align="right"><!--DUMMY_VALUE-->{01.01.2015}</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">aktive Benutzerrolle</td>
		    <td align="right"><!--DUMMY_VALUE-->{Student}</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geburtsort</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{Hamburg}</td>
			
		    			
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geschlecht</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{M}</td>
			
		    			
		  </tr>
		  

		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  <tr class="tablecontentbackdark">
		    <td align="left">Geburtstag</td>
		    
			    <td align="right"><!--DUMMY_VALUE-->{Montag}, <!--DUMMY_VALUE-->{01.01.2015}</td>
			
		    			
		  </tr>

		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>			
		  <tr class="tablecontentbacklight">
		    <td align="left">Martrikelnummer</td>
		    <td align="right">@(currentUser.getStudentNumber())</td>
		  </tr>
		
		   <tr>
		    <td colspan="2" height="1"></td>
		  </tr>
		  
		  <tr class="tablecontentbackdark">
		    <td align="left">Pr&uuml;fungsordnung</td>
		    <td align="right">@(currentUser.getFieldOfStudy().getAbbreviation()): <!--DUMMY_VALUE-->{PO 2008} (<!--DUMMY_VALUE-->{4015})</td>
		  </tr>
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>	
		
		  <tr class="tablecontentbackdark">
		    <td align="left">Studiengang</td>
		    <td align="right">@(currentUser.getFieldOfStudy().getName())</td>
		  </tr>  
		  
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr>	
		
		 <!-- tr class="tablecontentbacklight">
		    <td align="left">Heimatverzeichniss</td>
		    <td align="right">/home/students/DUMMY_VALUE{abc123}</td>
		  </tr>
		  <tr>
		    <td colspan="2" height="1"></td>
		  </tr-->
		  
	  <tr class="tablecontentbacklight">
	    <td align="left">Prim&auml;re HAW EMail-Adresse</td>
	    <td align="right">@(currentUser.getEmail())</td>
	  </tr>


	  
		  <tr class="tablecontentbackdark">
		    <td align="left">HAW-Kennung</td>
		    <td align="right"><!--DUMMY_VALUE-->{abc123}</td>
		  </tr>
      

      <tr class="tablecontentbacklight"> 
       <td align="left">TI-Departmentname</td>
       <td align="right"><!--DUMMY_VALUE-->{Informatik}</td>
      </tr>
	      
	  <tr class="tablecontentbackdark">
	    <td align="left">TI-Departmentnummer</td>
	    <td align="right"><!--DUMMY_VALUE-->{52}</td>
	  </tr>
	  
		  
      

	      
          
		</table>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <br>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
<table width="605" cellspacing="0" cellpadding="0" >

	<tr>
		<td valign="top"/>	 <!-- Printquoten -->

		
		
		 
		 
		    <table width="605"  cellspacing="0" cellpadding="0" class="tableframe">
	 		 <tr>
				<td>&nbsp;&nbsp;Ihr aktueller Status
					<td align="right"><a href="javascript:openWin('getHelp.do?keyword=prtQut','200','300','help');">Hilfe</a>&nbsp; </td>
				</td>
			 </tr>
		    </table>

		    <table width="605" cellspacing="0" cellpadding="0" class="tablecontent">
			  			
			
			    
			      <tr>
			  	    <td align="left"><span class="thick">Sie sind keinem Team zugeordnet</span></td>
				    <td align="right"></td>
				    <!--td align="right"><a href="javascript:openWin('getHelp.do?keyword=printQuota','200','300','help');"><img src="images/help.gif" border=0></a></td-->
				  </tr>
				  <tr><td>&nbsp;</td></tr>
				
				
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">Laser701</span>&nbsp;(0,05&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;0,00&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">Laser765</span>&nbsp;(0,02&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;0,00&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">Laser709</span>&nbsp;(0,05&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;0,00&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">Laser761</span>&nbsp;(0,05&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;0,00&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">APoolFarbe1104</span>&nbsp;(0,35&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;0,00&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">APoolLaser1104_2</span>&nbsp;(0,05&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;18,10&nbsp;&euro;</td-->
				  	</tr>
					
			
			  			
			
			    
				
				
					
				  	<tr>
				  	<td align="left"> Druckkosten &nbsp;
						<span class="thick">APoolLaser1104_1</span>&nbsp;(0,05&nbsp;&euro;/Seite)
					</td>
					<td align="right"></td>
						<!--td align="right">~&nbsp;6,90&nbsp;&euro;</td-->
				  	</tr>
					
			
			  
			  
			</table>
			
			
		

	</td>
  </tr>
</table>
 
 
 
}
