@import snippets._

@import models.courseComponent.FormModels.CourseRegistrationFormModel
@(courseRegistrationForm: Form[CourseRegistrationFormModel], currentUser: net.unikit.database.external.interfaces.Student, sessionTimeout: java.util.Date)

@getSemesterValue(course: net.unikit.database.external.interfaces.Course) = @{
    // TAKEN FROM SHOW_COURSE_OVERVIEW!
    var fieldOfStudy = ""
    var semester = ""
    var result = ""

    if (!course.getFieldOfStudies().isEmpty()) {
        fieldOfStudy = course.getFieldOfStudies().head.getAbbreviation()
    }
    if (course.getSemester != null) {
        semester = course.getSemester().toString()
    }

    if (fieldOfStudy.isEmpty() && semester.isEmpty()) {
        result = "-"
    } else {
        result = fieldOfStudy + "" + semester
    }

    result
}

<script language="JavaScript">
	function store() {
		document.forms[0].submit();
	}
</script>

@main("Anmelden", assets.NavigationItem.REGISTER, currentUser, sessionTimeout) {
    @evidence(605) {
        Bitte melden Sie sich zu  Veranstaltungen an und kontrollieren Sie die Anmeldungen abschlie&szlig;end!
    }

    @space()

    @listSection("Verbindliche Anmeldung fuer", 605) {
        @listItemWhite() {
            <select name="typ" onchange="javascript:submitNewChooserForm(typ.value);">
                <option value="PRAK" selected="selected">Praktika</option>
                <option value="VORL">Klausuren</option>
                <option value="ABS">Abschlussarbeit</option>
            </select>
        } {&nbsp;}
    }

    @space()

    @listSection("Verbindliche Anmeldung fuer Praktika (aktuelles Semester)", 605) {
        @helper.form(controllers.courseComponent.routes.CourseRegistrationController.registerCourses()){
            @for((course, index) <- courseRegistrationForm.get.courses.view.zipWithIndex) {
                @if(index % 2 == 0) {
                    @registerItemDark(course)
                } else {
                    @registerItemLight(course)
                }
            }

            @listItemWhite() {&nbsp;} {
                @buttonRight("speichern") {
                    javascript:store();
                }
            }
        }

    }
}
