@import snippets._

@(currentTeam: net.unikit.database.unikit_.interfaces.Team, currentInvitations: List[net.unikit.database.unikit_.interfaces.Team], currentMembershipRequests: List[net.unikit.database.unikit_.interfaces.Team], course: net.unikit.database.external.interfaces.Course, currentUser: net.unikit.database.external.interfaces.Student, sessionTimeout: java.util.Date)

@main(course.getName(), assets.NavigationItem.REGISTRATIONS, currentUser, sessionTimeout) {
    @evidence(705) {
        <span class="thick">@(course.getName())</span>
    }

    @space()

    @listSection("Ihr aktueller Status", 705) {
        @if(currentTeam == null) {
            @listItemWhite() {
                <div style="margin-left: 30px;">
                    Sie sind keinem Team zugeordnet!
                </div>
            } {&nbsp;}

            @listItemWhite() {
                <div style="margin-left: 30px;">
                    @buttonLeft("Team erstellen") {
                        @controllers.studentComponent.routes.StudentController.createTeam(course.getId())
                    }
                </div>
            } {&nbsp;}

            @listItemWhite() {
                <div style="margin-left: 30px;">
                    @buttonLeft("Beitrittsanfrage versenden") {
                        @controllers.studentComponent.routes.TeamController.showTeamOverview(course.getId())
                    }
                </div>
            } {&nbsp;}
        } else {
            @listItemWhite() {
                <div style="margin-left: 30px;">
                    Sie sind dem Team 'T@(String.format("%03d", currentTeam.getId()))' zugeordnet!
                </div>
            } {&nbsp;}

            @listItemWhite() {
                <div style="margin-left: 30px;">
                    @buttonLeft("Team bearbeiten") {
                        @controllers.studentComponent.routes.TeamController.showEditTeam(currentTeam.getId())
                    }
                </div>
            } {&nbsp;}

            @listItemWhite() {
                <div style="margin-left: 30px;">
                    @buttonLeft("Team verlassen") {
                        @controllers.studentComponent.routes.TeamController.removeMember(currentUser.getStudentNumber(), currentTeam.getId())
                    }
                </div>
            } {&nbsp;}
        }
    }

    @if(currentTeam == null && !currentInvitations.isEmpty) {
        @space()

        @listSection("Erhaltene Teameinladungen", 705) {
            @for((team, index) <- currentInvitations.view.zipWithIndex) {
                @if(index % 2 == 0) {
                    @listItemDark() {
                        Team T@(String.format("%03d", team.getId()))
                    } {
                        @buttonRight("Team betrachten") {
                            @controllers.studentComponent.routes.TeamController.showEditTeam(team.getId())
                        }
                    }
                } else {
                    @listItemLight() {
                        Team T@(String.format("%03d", team.getId()))
                    } {
                        @buttonRight("Team betrachten") {
                            @controllers.studentComponent.routes.TeamController.showEditTeam(team.getId())
                        }
                    }
                }
            }
        }
    }

    @if(currentTeam == null && !currentMembershipRequests.isEmpty) {
        @space()

        @listSection("Versendete Beitrittsanfragen", 705) {
            @for((team, index) <- currentMembershipRequests.view.zipWithIndex) {
                @if(index % 2 == 0) {
                    @listItemDark() {
                        Team T@(String.format("%03d", team.getId()))
                    } {
                        @buttonRight("Team betrachten") {
                            @controllers.studentComponent.routes.TeamController.showEditTeam(team.getId())
                        }
                    }
                } else {
                    @listItemLight() {
                        Team T@(String.format("%03d", team.getId()))
                    } {
                        @buttonRight("Team betrachten") {
                            @controllers.studentComponent.routes.TeamController.showEditTeam(team.getId())
                        }
                    }
                }
            }
        }
    }

    @listSection("Modulbeschreibung", 705) {
        <img src='@routes.Assets.at("images/descriptions/" + course.getAbbreviation() + ".png")' width="705">
    }
}
