@import snippets._

@(currentUser: net.unikit.database.interfaces.entities.Student, sessionTimeout: java.util.Date)

@main("Benutzerdaten", assets.NavigationItem.PROFILE, currentUser, sessionTimeout) {
	@evidence(605) {
		&Uuml;berpr&uuml;fen Sie bitte Ihre pers&ouml;nlichen Daten. Achten Sie bitte darauf, ob Vor- und Nachname richtig eingetragen und geschrieben sind. Die Angaben zur Person sind wichtiger Bestandteil der Pr&uuml;fung. Bei Unstimmigkeiten eine kurze E-Mail an <a href="mailto:fsb_ti@@haw-hamburg.de"> (FSB)</a>.
	}

	@space()

	@listSection("Ihre Daten", 605) {
		@listItemDark() {Name} {@(currentUser.getFirstName()) @(currentUser.getLastName())}
		@listItemLight() {Benutzername} {<!--DUMMY_VALUE-->{abc123}}
		@listItemDark() {Ablaufdatum des Passwortes} {<!--DUMMY_VALUE-->{01.01.2015}}
		@listItemLight() {Aktive Benutzerrolle} {<!--DUMMY_VALUE-->{Student}}
		@listItemDark() {Geburtsort} {<!--DUMMY_VALUE-->{Hamburg}}
		@listItemLight() {Geschlecht} {<!--DUMMY_VALUE-->{M}}
		@listItemDark() {Geburtstag} {<!--DUMMY_VALUE-->{Montag}, <!--DUMMY_VALUE-->{01.01.2015}}
		@listItemLight() {Martrikelnummer} {@(currentUser.getStudentNumber())}
		@listItemDark() {Pr&uuml;fungsordnung} {@(currentUser.getFieldOfStudy().getAbbreviation()): <!--DUMMY_VALUE-->{PO 2008} (<!--DUMMY_VALUE-->{4015})}
		@listItemLight() {Studiengang} {@(currentUser.getFieldOfStudy().getName())}
		@listItemDark() {Prim&auml;re HAW EMail-Adresse} {@(currentUser.getEmail())}
		@listItemLight() {HAW-Kennung} {<!--DUMMY_VALUE-->{abc123}}
		@listItemDark() {TI-Departmentname} {<!--DUMMY_VALUE-->{Informatik}}
		@listItemLight() {TI-Departmentnummer} {<!--DUMMY_VALUE-->{52}}
	}

	@space()

	@listSection("Ihre aktuellen Druckquoten", 605) {
		@listItemWhite() {Guthaben} {<!--DUMMY_VALUE-->{12,50} &euro;}
		@listItemWhite() {Druckkosten <span class="thick">Laser701</span> (0,05 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">Laser765</span> (0,02 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">Laser709</span> (0,05 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">Laser761</span> (0,05 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">APoolFarbe1104</span> (0,35 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">APoolLaser1104_2</span> (0,05 &euro;/Seite)} {&nbsp;}
		@listItemWhite() {Druckkosten <span class="thick">APoolLaser1104_1</span> (0,05 &euro;/Seite)} {&nbsp;}
	}
}
