@import helper._

@(courseRegistrationForm: Form[models.courseRegistration.CourseRegistrationFormModel])

<h1>Available courses for registration:</h1>
<body>
    @form(routes.CourseRegistrationController.registerCourses()){
        Your student number: <input type="text" name="studentNumber" value=@courseRegistrationForm("studentNumber").value readonly>
        <table border = "1">
            <tr>
                <td> Course name</td>
                <td> Abbreviation</td>
                <td> Course ID</td>
                <td> Register</td>
            </tr>
            @for(course <- courseRegistrationForm.get().courses){
                <tr>
                    <td>@course.getName()</td>
                    <td>@course.getAbbreviation()</td>
                    <td>@course.getId()</td>
                    <td><input type = "checkbox" name="registeredCourses[]" value=@course.getId()></td>
                </tr>
            }
        </table>
        <input type="submit" name="submitRegistrationButton" value="Register course">
        <a href=@routes.CourseRegistrationController.showCourseOverview>
            <button>Show overview</button>
        </a>
        }

</body>
