@(currentUser: models.imports.interfaces.Student)

<h1>Hello @(currentUser.getFirstName + " " + currentUser.getLastName + "!")</h1>
<h2> Your available courses are:</h2>
<body>
    <table border = "1">
        <tr>
            <td> Course name</td>
            <td> Abbreviation (not "shortcut")</td>
            <td> Course ID</td>
        </tr>
    @for(course <- currentUser.getAvailableCourses){
        <tr>
            <td>@course.getName</td>
            <td>@course.getShortcut</td>
            <td>@course.getId</td>
        </tr>
    }
    </table>
</body>
